#leader {

    position: relative;

    img {
        margin-block: 10rem;
        margin-left: 9rem;
    }

    &-content {
        width: 45rem;
        height: 25rem;
        background-color: hsl(0, 0%, 100%);
        padding: 6rem;
        position: absolute;
        top: 21.5rem;
        left: 44.5rem;


        h2 {
            font-family: "Josefin Sans", sans-serif;
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 1.5rem;
        }

        p {
            width: 29.3rem;
            color: hsl(0, 0%, 59%);
            line-height: 1.6;
        }
    }
}