@import './header';
@import './leader';
@import './creations';
@import './footer';
@import './mobile-menu';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alata", sans-serif;
}

#layout {
    width: 90rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media(max-width: 375px) {
    
    #layout {
    width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
}